/* import lite.css */

@import url("lite.css");

body {
  padding: 5px;
  font-size: 120%;
}

a {
  font-size: 110%;
}

strong {
  font-size: 180%;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

.buses li:before {
  content: "\1F68C";
  padding-left: 20px;
  padding-right: 8px;
  overflow: hidden;
}

#stations li:before {
  content: "🚏";
  padding-right: 8px;
}

.buses {
  display: table;
}
.buses li {
  display: table-row;
}
.buses time {
  display: table-cell;
  padding: 5px;
  width: 3em;
}

#stations li {
  white-space: nowrap;
}

.busstopid {
  white-space: nowrap;
  display: inline-block;
  border-bottom: thin solid black;
  padding-bottom: 2px;
  margin: 0;
}

input[type="text"] {
  font-size: 1em;
  width: 5em;
}

label {
  display: block;
}

input#id {
  display: inline-block !important;
}

input[type="submit"] {
  font-size: 1em;
  display: inline-block !important;
}
