<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://newcss.net/lite.css">
<script>
function countdown (id, time) {
  if (!id) { return }
  // console.log(id,time);
  var seconds = time / 1000
  if (Math.abs(seconds) > 60) {
    id.innerHTML = parseInt(seconds / 60) + 'm'
  } else {
    id.innerHTML = parseInt(seconds) + 's'
  }
  setTimeout(countdown, 1000, id, time - 1000)
}

window.addEventListener('load', function () {
  var timings = document.getElementsByTagName('time')
  var now = new Date()
  for (var i = 0; i < timings.length; i++) {
    var arr = new Date(timings[i].getAttribute('datetime'))
    var elapsed = arr.getTime() - now.getTime()
    countdown(timings[i], elapsed)
  }
  var lastupdated = document.getElementById('lastupdated')
  countdown(lastupdated, Date.now() - now)

  var slog = (JSON.parse(window.localStorage.getItem('history')) || {})

  var busstopcode = document.getElementById('id').value
  var busstopname = document.getElementById('namedBusStop').innerHTML

  if (busstopcode) {
    if (typeof slog[busstopcode] === 'undefined') {
      slog[busstopcode] = {}
      slog[busstopcode].count = 0
      slog[busstopcode].name = busstopname
    }
    try {
      slog[busstopcode].count++
      slog[busstopcode].name = busstopname
    } catch (e) { console.log(e) }

    window.localStorage.setItem('history', JSON.stringify(slog))
  } else {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        var lat = position.coords.latitude
        var lng = position.coords.longitude
        window.location = '/closest?lat=' + lat + '&lng=' + lng
      })
    }
  }

  var sortable = []
  for (var station in slog) {
    sortable.push([station, slog[station]])
  }
  sortable.sort(function (a, b) { return a[1].count - b[1].count })
  // console.debug(sortable);
  var ul = document.getElementById('stations')
  for (var i = sortable.length - 1; i >= 0; i--) {
    var key = sortable[i][0]
    var value = sortable[i][1]
    // console.log(key, value);

    var li = document.createElement('li')
    var link = document.createElement('a')
    if (value.name) {
      link.setAttribute('href', '/?id=' + key + '&name=' + encodeURI(value.name))
      link.appendChild(document.createTextNode(key + ' ' + value.name + ' (' + value.count + ')'))
    } else {
      link.setAttribute('href', '/?id=' + key)
      link.appendChild(document.createTextNode(key))
    }
    li.appendChild(link)
    ul.appendChild(li)
  }
}, false)
</script>
<link rel='stylesheet' href='/static/style.css'>
{{ if .BusStopCode }}
<title>Singapore bus arrival times for stop {{ .BusStopCode }}</title>
<meta name="apple-mobile-web-app-title" content="🇸🇬🚍">
<link rel='icon' href='/icon?stop={{ .BusStopCode }}'>
<link rel="apple-touch-icon" sizes="200x200" href="/icon?stop={{ .BusStopCode }}">
<meta name="description" content="Bus arrival times for {{ .BusStopCode }} {{ nameBusStop .BusStopCode }}"/>
{{ else }}
<title>Singapore bus arrival times 🇸🇬</title>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<meta name="description" content="Bus arrival times based on your current location"/>
{{ end }}
</head>
<body>

<h1><a style="text-decoration: none;" href="/">📍</a>
<span style="{{ styleBusStop .BusStopCode }}"
id="namedBusStop">{{ nameBusStop .BusStopCode }}</span>
</h1>

<form>
<label for=id>Bus stop #</label>
<input autofocus id=id required type=text inputmode="numeric" pattern="\d{5}" value="{{ .BusStopCode }}" name=id>
<input value="Bus due times" type=submit>
</form>

<ul class=buses>
{{ range .Services }}
<li>
<strong>
<a href='https://busrouter.sg/#/services/{{ .ServiceNo }}'>{{ .ServiceNo }}</a>
</strong>

{{ if .NextBus.EstimatedArrival }}<time dateTime="{{ .NextBus.EstimatedArrival }}">{{ .NextBus.EstimatedArrival }}</time>{{ end }}
{{ if .NextBus2.EstimatedArrival }}<time dateTime="{{ .NextBus2.EstimatedArrival }}">{{ .NextBus2.EstimatedArrival }}</time>{{ end }}
{{ if .NextBus3.EstimatedArrival }}<time dateTime="{{ .NextBus3.EstimatedArrival }}">{{ .NextBus3.EstimatedArrival }}</time>{{ end }}

</li>
{{ end }}
</ul>

<p>Hint: Tap <a style="text-decoration: none;" href="/">📍</a> to find closest bus stop</p>

<h4>Last updated: <span id=lastupdated></span></h4>

<ol id=stations></ol>

<footer>
<ul>
<li><a href=https://github.com/kaihendry/ltabus>Source code</a></li>
<li><a href="mailto:hendry+bus@iki.fi">Please email feedback</a></li>
<li><a href=https://railrouter.sg/>Train map</a></li>
<li>There are 5043 bus stops in Singapore</li>
</ul>
</footer>

</body>
</html>
