name: Deploy

on:
  push:
    branches: [master]
  workflow_dispatch:
    inputs:
      stage:
        description: 'Custom stage'
        default: 'staging'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Build
        run: CGO_ENABLED=0 go build -o server *.go
      - name: Test
        run: CGO_ENABLED=0 go test -v .
      - name: Add font
        run: git clone --depth 1 https://go.googlesource.com/image
      - name: Deploy
        uses: apex/actions/up@v0.5.1
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          UP_CONFIG: ${{ secrets.UP_CONFIG }}
        with:
          stage: ${{ github.event.inputs.stage }}
